
@import '../variables.scss';

#header {
    position: sticky;
    z-index: 200;
    top: 0;
    height: 60px;
    padding: 25px 0 0;
    background-color: $color-background-header;

    #to-top {
        $to-top-size: 50px;

        transition: transform 250ms;
        margin-left: -0.5 * $to-top-size;
        width: $to-top-size;
        height: $to-top-size;
        font-size: $to-top-size;
        line-height: $to-top-size;
    }

    #to-navigation {
        transition: transform 500ms;
        margin-left: -16px;
        width: 32px;
        height: 32px;
        padding: 9px;
    }

    #to-navigation,
    #to-top {
        display: inline-block;
        position: absolute;
        left: 50%;
        padding: 0;
        text-align: center;
        cursor: pointer;
        user-select: none;
    }

    #to-navigation:hover {
        transform: scaleY(1.5);
    }

    #to-top:hover {
        transform: scale(1.3);
    }
}

@media(min-width: 1350px)
{
    #header 
    {
        z-index: -1;
        opacity: 0;
    }
}
