
@import '../variables.scss';

#navigation {
    transition: opacity 100ms, transform 100ms;
    margin: 0 auto 100px;

    #navigation-content {
        display: flex;
        flex-direction: column;
        justify-content: center;

        margin: 0 auto;
        border-left: 2px solid $color-highlight;
        border-right: 2px solid $color-highlight;
        width: 72.5%;
        padding: 100px 0;
        background-color: $color-background-nav;
    
        #navigation-links {

            a {
                display: block;
                margin: 45px 0;
                font-size: 22px;
            }
        }

    }
}

@media(max-width: 1350px) {

	#navigation {
        width: 100%;
        padding-top: 130px;
    }
}

@media(min-width: 1350px) {

	#navigation {
        position: fixed;
        top: 50px;
        left: -25px;
        margin: 0;
        border-top: none;
        width: 30vw;

        #navigation-content {
            padding: 0;
            // height of viewport minus twice the navigation's top property
            height: calc(100vh - (50px * 2));
            
            #navigation-links {
                overflow-y: auto;

                a {
                    height: 4vh;
                    min-height: 25px;
                }
            }
        }
	}
}