
@import '../variables';

.project {
    margin-bottom: 75px;
    border-bottom: 2px solid $color-border;
    max-width: 350px;
    vertical-align: top;
    text-align: center;

    h4 {
        margin: 40px 0 25px;
    }

    .project-thumbnail {
        display: inline-block;
        opacity: 0.85;
        transition: transform 200ms, opacity 650ms;
        margin-bottom: 25px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        max-width: 280px;
        max-height: 210px;
        width: 60vw;
        height: 45vw;
    }

    .project-thumbnail:hover {
        opacity: 1;
        transform: scale(1.04);
    }

    .project-indicator {
        color: $color-light-highlight;
        text-align: center;
    }

    .project-description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-top: 2px solid $color-border;
        height: 140px;
        padding: 25px 10px;

        .project-lede {
            padding: 0;
            text-align: center;
        }
    }
}

@media(max-width: 1185px) {
    
    .project {
        display: block;
        margin: 0 auto;
    }

}

@media(min-width: 1185px) {
    
    .project {
        display: inline-block;
    }

    .project:nth-child(odd) {
        margin-right: 75px;
    }

}