
@import '../variables.scss';

#project-modal {
    position: fixed;
    left: calc(50% - 3px);
    z-index: 500;
    transition: transform 275ms, opacity 275ms;
    border: 3px solid $color-border-modal;
    border-radius: 18px;
    width: $modal-width;
    max-height: 85vh;
    max-width: 800px;
    padding-bottom: 20px;
    background: $color-background-modal;

    .modal-exit {
        position: absolute;
        top: 20px;
        left: 50%;
        z-index: 501;
        transition: transform 150ms, background-color 350ms, color 150ms;
        margin-left: -20px;
        border-radius: 7px;
        width: 34px;
        padding: 0 0 3px;
        background-color: lighten($color-background-modal-content, 30%);
        cursor: default;
        user-select: none;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 30px;
        line-height: 30px;
    }

    .modal-exit.image-close {
        top: 237.5px;
        transition: transform 150ms, color 150ms;
        background-color: rgba(white, 1);
        color: darken(rgba($color-highlight, 1), 5%);
    }

    .modal-exit:hover:not(.image-close) {
        transform: scale(1.25);
        background-color: lighten($color-background-modal-content, 40%);
        color: rgba(white, 0.75);
    }

    .modal-exit.image-close:hover {
        transform: scale(1.25);
        color: rgba($color-highlight, .75);
    }

    .modal-main-image {
        opacity: 0.7;
        margin: -3px 0 10px -3px;
        border: 3px solid $color-border-modal;
        border-radius: 18px;
        width: $modal-width;
        height: 200px;
        max-width: 800px;
        background-size: cover;
        background-position: 0% 32.5%;
        background-repeat: no-repeat;
    }
    
    /* 85% of view height minus a constant, the margin, and the padding */
    $modal-content-max-height: calc(85vh - 223px - 20px - 35px);
    $image-to-view-max-height: calc(85vh - 305px - 20px - 35px);

    .modal-content {
        overflow-x: hidden;
        overflow-y: auto;
        margin-top: 20px;
        max-height: $modal-content-max-height;
        border-top: 1px solid $color-border;
        border-bottom: 1px solid $color-border;
        border-radius: 50px;
        padding-top: 35px;
        background: $color-background-modal-content;

        .modal-header {
            padding: 0 0 35px;
        }

        .modal-links {
            display: inline-block;
            margin: 5px 0 0;
            border-bottom: 2px solid $color-border;
            padding: 0 20px 15px;

            a {
                padding: 25px;
            }
        } 

        .modal-lede {
            display: inline-block;
            margin: 20px 9% 40px;
            border-left: 2px solid $color-highlight;
            border-right: 2px solid $color-highlight;
            padding: 0 13.5%;
            text-align: center;
            line-height: 27px;
        }

        .modal-images {
            border-top: 2px solid $color-border;
            border-bottom: 2px solid $color-border;
            text-align: center;
    
            .modal-image {
                transition: transform 150ms;
                border-radius: 10px;
                max-width: 260px;
                max-height: 195px;
            }

            .modal-image:hover {
                transform: scale(1.05);
            }
        }
        .modal-pointers {
            display: inline-block;
            margin: 50px 0 65px;
            border-left: 2px solid $color-highlight;
            border-right: 2px solid $color-highlight;
            border-bottom: none;
            max-width: 60%;
            padding: 0 7% 35px ;
            font-size: 14.5px;

            .modal-pointers-header {
                margin-bottom: 35px;
            }

            .modal-pointer {
                margin: 0 8.5% 20px 12.5%;
                padding-left: 25px;
            }
        }

        .modal-image-to-view {
            border-radius: 15px;
            max-width: 90%;
            max-height: $image-to-view-max-height;
            margin: 40px 0 35px;
        }
    }

}

@media(max-width: 1250px) {
    
    #project-modal {
        top: calc(6vw - 3px);
        margin-left: - $modal-width / 2;

        .modal-images {
            $image-width: 0.8 / 2 * $modal-width;
            $image-height: $image-width * 0.75;
            $image-margin: 1.25vw;
            $container-width: ($image-width * 2) + ($image-margin * 4);
            $container-margin: ($modal-width - $container-width) / 2;
    
            margin-bottom: 20px;
            max-width: $container-width;
            padding: 40px 0 40px $container-margin;
    
            .modal-image {
                width: $image-width;
                height: $image-height;
                margin: $image-margin;
            }
        }
    }
}

@media(min-width: 1250px) {
    
    #project-modal {
        top: 80px;
        margin-left: - 400px;

        .modal-images {
            $modal-width: 800px;
            $image-width: $modal-width * 0.4;
            $image-height: $image-width * 0.75;
            $image-margin: 15px;
            $container-width: ($image-width * 2) + ($image-margin * 4);
            $container-margin: ($modal-width - $container-width) / 2;
    
            margin: 0 0 20px $container-margin;
            max-width: $container-width;
            padding: 40px 0;
    
            .modal-image {
                width: $image-width;
                height: $image-height;
                margin: $image-margin;
            }
        }
    }
}