
@import './variables.scss';

* {
	color: $color-text;
	text-align: center;
	margin: 0;
	padding: 0;
}


/********************* 
elements
**********************/

body {
	background: $color-background;
}

header {
	margin-bottom: 40px;
	padding-top: 70px;
}

section {
	border-left: 2px solid $color-highlight;
	border-right: 2px solid $color-highlight;
	padding: 10px 40px 35px;
}

h2 {
	border-bottom: 2px solid $color-border;
	padding-bottom: 25px;
}

p {
	padding: 0 16px 25px;
}

ul {
	margin: 15px auto;
	border-bottom: 2px solid $color-border;
	max-width: 500px;
	padding: 1px 0 20px;
	padding-left: 20px;
}

p, 
li {
	text-align: left;
	line-height: 23px;
}

a,
a:visited {
	text-decoration: none;
	color: $color-link;
}




/********************* 
 ids
**********************/

#main-flow {
	transition: filter 150ms, opacity 150ms;
}

#main-flow.blurred {
	filter: blur(10px);
	opacity: 0.65;
}




/********************* 
 classes
**********************/

.hidden {
	opacity: 0;
	z-index: -100;
	transform: scale(0);
	filter: blur(10px);
}

.highlight {
	color: $color-highlight;
}

.paragraph-start {
	font-size: 26px;
}

.points { 
	li {
		margin: 0 25px 25px;
		padding-left: 25px;
	}
}

.color-list {
	display: inline-block;
	vertical-align: top;
	list-style: none;
	margin: 15px 40px 50px;
	max-width: 200px;
	padding: 10px 0 30px;
}

.color-list h4 {
	margin: 15px 0 35px;
}

.color-list li {
	display: inline-block;
	margin: 2px;
	border-radius: 8px;
	padding: 3px 12px;
}

@media(max-width: 1349px) {
	
	h2 {
		margin: 30px 0;
	}

	section {
		margin: 0 5vw 0;
	}
}

@media(min-width: 1350px) {

	h2 {
		margin: 30px 100px;
	}

	section {
		margin: 0 5vw 200px;
	}

	section, 
	footer {
		margin-left: 30vw;
		width: 61vw;
		padding-left: 0;
		padding-right: 0;
    }

}