$color-background: #222;
$color-background-nav: #2b2b2b;
$color-background-header: rgba(#333, 0.75);
$color-background-modal: rgba(#89b6a8, 0.1);
$color-background-modal-content: rgba(#333, 0.96);
$color-border: #777;
$color-border-modal: #eee;
$color-highlight: gold;
$color-light-highlight: rgb(252, 238, 159);
$color-text: white;
$color-link: rgb(187, 149, 93);

$modal-width: 80vw;