
@import '../variables.scss';

.method-of-contact {
    display: block;
    margin: 55px auto;
    border-bottom: 2px solid $color-border;
    max-width: 500px;
    padding-bottom: 12px;
    text-align: left;

    .contact-link-icon {
        transition: transform 200ms, background-color 650ms;
        margin: 0 22px 0 0;
        border-radius: 12px;
        max-width: 24px;
        max-height: 24px;
        padding: 8px;
        background-color: rgba(173, 148, 5, 0.75);
    }

    .contact-link-icon:hover {
        transform: scale(1.04);
        background-color: rgba(235, 200, 0, 1);
    }

    .contact-info {
        display: inline-block;
        padding-top: 9px;
        vertical-align: top;
    }
}

#contact {
    padding-bottom: 55px;

    h2 {
        margin-bottom: 55px;
    }
}

@media(max-width: 525px) {
    
    .method-of-contact {
        text-align: center;

        .contact-link {
            .contact-link-icon {
                margin-right: 0;
            }
        }

        .contact-info {
            margin: 8px 0 20px;
            width: 100%;
        } 
    }
}