
@import '../variables.scss';


.role {
    display: inline-flex;
    margin: 40px 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 2px solid $color-border;
    width: 60vw;
    min-height: 250px;
    max-width: 360px;
    padding: 20px 0;
    background-repeat: no-repeat;
    vertical-align: top;
}
  
.role-content {
    align-self: center;
    margin: 0 20px;
    border: 2px solid white;
    border-radius: 10px;
    padding: 25px 25px 15px;
    background-color: rgba(49, 46, 31, 0.75);

    h4 {
        margin: 0;
        font-size: 14.9px;
        font-weight: 200;
    }

    p {
        border-top: 1px solid $color-border;
        margin-top: 5px;
        padding: 8px 0 0;
        font-size: 13px;
        line-height: 20px;
    }

    .paragraph-start {
        font-size: 22px;
    }
}

#role-shift-leader {
    background-image: url("/resources/role-shift-leader.png");
}

#role-contract-work {
    background-image: url("/resources/role-contract-work.png");
}

@media(min-width: 900px)
{
    .role {
        margin: 40px;
    }
}