
@import '../variables.scss';

#education {
    text-align: center;

    h4 {
        border-bottom: 2px solid $color-border;
        padding: 20px 0;
        background-color: rgba(49, 46, 31, 0.3);
        font-size: 14.9px;
        text-align: center;
    }

    p {
        padding: 0;
        user-select: none;
        text-align: center;
    }
}

#certification {
    color: rgba(0, 0, 0, 0);
    border-bottom: 2px solid $color-border;

    img {
        transition: transform 200ms;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        max-width: 320px;
        max-height: 240px;
        width: 60vw;
        padding-bottom: 35px;
    }

    img:hover {
        transform: scale(1.04);
    }
}

#certification-pointer {
    display: inline-block;
    transform: scaleX(1.5);
    margin: 25px 0 0;
    width: 80%;
}
  
#certification-director {
    margin: 0 0 40px;
}
  
#education-other-links {
    display: inline-block;
    border-top: 2px solid $color-border;
    border-bottom: 2px solid $color-border;
    padding: 50px 18px;

    span {
        margin: 0 9px;
    }
}

@media(max-width: 1350px) {
    #education {
        h2 {
            margin: 30px 0 0;
        }

        h4 {
            margin: 0 0 35px;
        }
    }
}
@media(min-width: 1350px) {
    #education {
        h2 {
            margin: 30px 100px 0;
        }

        h4 {
            margin: 0 100px 35px;
        }
    }
}