
@import '../variables.scss';


#experience {
    ul {
        padding-top: 25px;
    }
}
  
#abilities {
    margin-bottom: 100px;
}

#knowledge {
    display: inline-block;
    width: 100%;
    padding-top: 30px;
}
