
@import '../variables.scss';

#forward {
    display: block;
    width: 8.5in;
    height: 11in;
    background: url("/resources/code-background.png");
    background-repeat: no-repeat;
    background-size: contain;
    
    #forward-photo {
        margin: 25px auto 40px;
        border: 2px solid $color-highlight;
        border-radius: 200px;
        width: 175px;
        height: 175px;
        background-image: url("/resources/profile.jpg");
        background-size: cover;
        background-position: right top;
    }

    #forward-header {
        display: inline-block;
        max-width: 800px;
    }

    #forward-description {
        margin: 0 125px 100px;
        max-width: 700px;
    }

    #forward-link {
        font-size: 30px;
        letter-spacing: 2.5px;
        text-decoration: underline;
    }
}

