
@import '../variables.scss';

.project-list {
    display: inline-block;
    border: none;
    max-width: 775px;
    padding: 0;
    text-align: left;
    list-style: none;

    #link-all-projects {
        display: block;
        margin: 67.5px 0 30px;
    }
}

#me {
    display: block;
    background: url("/resources/code-background.png");
    background-repeat: no-repeat;
    
    #profile-photo {
        margin: 25px auto 40px;
        border: 2px solid $color-highlight;
        border-radius: 200px;
        width: 10vw;
        height: 10vw;
        min-width: 150px;
        min-height: 150px;
        background-image: url("/resources/profile.jpg");
        background-size: cover;
        background-position: right top;
    }

    #bio-header {
        display: inline-block;
        max-width: 800px;
    }

    #bio {
        margin: 0 auto;
        max-width: 700px;
    }
}
  
@media(max-width: 850px) {
    #me {
        background-size: cover;
    }
}

@media(min-width: 850px) {
    #me {
        background-size: contain;
    }
}

