
/* ----- element selectors ----- */

# {
    font-family: "Georgia", "Helvetica", sans-serif;
}

body {
    text-align: center;
    margin: 0;
}

header {
    background: radial-gradient(at center, black, transparent 70%),
        linear-gradient(0deg, #fff, transparent 35%),
        radial-gradient(at top, indigo -10%, transparent 70%),
        gray url('../resources/images/home/header-background.jpg') no-repeat center;
    background-size: cover;

    color: white;

    margin: 0 0 50px;
    padding: 140px 0 450px;
}

h2 {
    font-size: 2em;
}

p {
    font-size: 1.6em;
    color: #444;
    line-height: 170%;
    word-spacing: 2px;
    text-align: left;
}

/* ----- class selectors ----- */

.title {
    font-size: 7em;
    font-family: "Imprint MT Shadow", sans-serif;
    font-weight: 200;
    margin-bottom: 0;
}

.header-section {
    font-size: 2.5em;
    padding: 100px 0 35px;
}

#bio-paragraph {
    display: inline-block;
    padding: 90px 130px;
    background: #f4f4f4;
}

@media (min-width: 600px) {
    #bio-paragraph {
        margin: 0 15%;
    }
}
